@import url("http://fonts.cdnfonts.com/css/feeling-passionate");

:root {
  --font--titulo: "Feeling Passionate", sans-serif;

  --cor--background: #49326b;
  --cor--titulo: #dec293;
  --cor--divisor:background: linear-gradient(90deg, rgba(73,50,107,1) 25%, rgba(222,194,147,1) 82%);
}

html {
  scroll-behavior: smooth; 
  width: 100%;
}

body {
  background: var(--cor--background);
  
}

header {
  position: fixed;
  top: 0;
}

.container{
  width: 94%;
  margin:0 auto;
}


/*botão voltar ao topo*/

.float-btn {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.btn-back {
  background-color: var(--cor--background);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  border: 1.2px solid var(--cor--titulo)
}

.btn-back a {
  color: var(--cor--titulo);
  text-decoration: none;
}


