.cabecalho {
  width: 100%;
  height: 100px;
  padding: 32px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor--background);
  color: var(--cor--titulo);
  border-bottom: 1px solid;
}

.cabecalho__esquerda {
  display: flex;
  align-items: center;
}

.cabecalho__esquerda--logo {
  margin-left: 3rem;
  width: 8rem;
}

.cabecalho__esquerda--titulo {
  font-family: var(--font--titulo);
  font-size: 1.6rem;
  padding-right: 1rem;
}

.cabecalho__pesquisa {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 393px;
  height: 40px;
  margin-right: 12rem;
}

.cabecalho__pesquisa--input {
  background: #f5f5f5;
  border-radius: 20px;
  padding: 0.2rem 1rem;
}

.cabecalho__pesquisa--input::placeholder {
  color: var(--cor--background);
}

.cabecalho__pesquisa--btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cabecalho__pesquisa--btn:hover {
  font-size: 1.5rem;
}

.cabecalho__pesquisa--btn a {
  color: var(--cor--titulo);
}

.cabecalho__direita {
  margin-right: 0.5rem;
}

.cabecalho__direita--btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-right: 2rem;
  border-radius: 16px;
  border: 2px solid var(--cor--titulo);
  width: 11.375rem;
  height: 2.5rem;
  font-family: var(--font--titulo);
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--cor--background);
}

a {
  color: var(--cor--titulo);
}

.cabecalho__direita--btn:hover {
  background-color: var(--cor--titulo);
  color: var(--cor--background);
  font-size: 1rem;
  width: 12rem;
  height: 2.5rem;
}

a:hover {
  color: var(--cor--background);
}
